.block {
	margin: 20px 0;
}

input {
	margin-right: 10px;
}

#start-button {
	font-weight: bold;
}

.time_wrapper {
	position: relative;
	display: inline-block;
	height: 60px;
	margin-bottom: 10px;
}

.time {
	position: absolute;
	bottom: 0;
	left: 0;
}